th {
  font-weight: bold;
  text-align: left;
}

td, th {
  padding: 5px;
  border-bottom: 1px solid silver;
  height: 20px;
}

thead th {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
